---
---

@import "{{ site.theme }}";

body { padding: 30px 50px; }
footer { bottom: 30px; }
footer p { margin-bottom: 10px; }

.wrapper { overflow: hidden; }
.ra-img { 
	width: 125px;
	margin: 0 auto;
	display: inline-block;
	float: right;
}

.text-center { text-align: center; }
a:hover {
	font-weight: normal;
	text-decoration: underline;
}

section ul li { margin-bottom: 10px; }
